<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ApiRest Planner lite</title>
  </head>
  <body>
    <!-- menu -->
    <header>
      <nav class="navbar navbar-expand-sm" style="background-image: linear-gradient(to right,#2F69A8,#00B3B0)";>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-light" href="/">Dofus Planner lite</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/tendency">Dashbord</a>
            </li>
          </ul>
        </div>  
      </nav>
    </header>
    <!-- end menu -->
    <hr>
    <div class="container">
      <div class="jumbotron">
        <h4>Liste de personnages</h4>
      </div>
      <div class="deck-card text-center" >
        <div id="templateOf"></div>
      </div>
    </div>
    <!-- CSS bootstr -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <!-- JavaScript -->
   <script src="js/javascripts/tendency.js"></script>



  </body>
</html>
